{% for item in items %}
  <h1>Control: {{ item.km }}</h2>
  <p> Open Time: {{ item.open_time }} <p>
  <p> Close Time: {{ item.close_time }} <p>
{% endfor %}

<a href="{{ url_for("index") }}">Return to ACP Calculator</a>